

/* owl slides **/

.home
{
	width: 100%;
	height: 100vh;
}
.home .slide-container
{
	width: 100%;
	height: 100%;
	background-image: url('../images//background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	
} 
.home .slide-container .slide-background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
} 

.content-container
{
	position: absolute;
	top: 25%;
	left: 0;
	width: 100%;
}
.slide-logo
{
	width: 263px;
	height: 178px;
	margin-left: auto;
	margin-right: auto
}
.slide-logo img
{
	max-width: 100%;
}
.slide-text
{
	margin-top: -55px;
}
.slide-title
{
	width: 100%;
	font-size: 72px;
	line-height: 1.2;
	font-weight: 600;
	color: #FFFFFF;
}
.slide-subtitle
{
	max-width: 800px;
	font-size: 20px;
	line-height: 2;
	color: #FFFFFF; 
	margin:auto; 
}
 

div.slide-buttons {
	margin-top: 50px;
}

.slide-buttons * a {
	display: block;
	position: relative;
	padding-left: 33px;
	padding-right: 77px; 
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
	white-space: nowrap;
}

.slide-buttons .btn-label
{
	position: absolute;
	top: 0;
	right: 0;
	width: 44px;
	height: 100%;
	align-content: center;
	background: inherit;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.slide-buttons span i
{ 
	color: #ffae00;
	align-content: inherit;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.btn:hover
{
	background: #ff6600;
	border-color: #ff6600;
}
.btn:hover .btn-arrow
{
	background: #ff8a00;
}
.btn:hover .btn-arrow i
{
	color: #ffae00;
}
 
.home-btn:first-child
{
	margin-right: 26px;
}

 

/**** Featured section *****/

.featured
{
	width: 100%;
	z-index: 2;
}
.featured .featured-map
{
	width: 100%; 
	margin-top: -140px;
	border: #2c2b31 solid 1px; 
	background: #fff;
	padding: 0.5rem 0.5rem;

}

.featured .featured-map .map-container { 
	height: 600px; 
}
 
.featured .featured-map:first-child
{
	padding-right: 0;
}
.featured .featured-map:last-child
{
	padding-left: 0;
	float: right;
}

.featured_content
{
	padding-left: 50px;
	padding-top: 63px;
	padding-right: 50px;
	padding-bottom: 41px;
	background: #f2f1f8;
}
.featured_content::after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: #ff6600;
	content: '';
}
.featured_tag
{
	height: 31px;
	background: #ff6600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.featured_tag:hover
{
	background: #2c2b31;
}
.featured_tag a
{
	display: block;
	padding-left: 21px;
	padding-right: 21px;
	line-height: 31px;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 400;
}
.featured_price span
{
	display: inline-block;
	position: relative;
	font-size: 18px;
	color: #ff6600;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}
.featured_title
{
	margin-top: 29px;
}
.featured_title h3 a
{
	color: #2c2b31;
	font-weight: 600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.featured_title h3 a:hover
{
	color: #ff6600;
}
.featured_text
{
	margin-top: 18px;
	line-height: 1.92;
}
.featured_footer
{
	margin-top: 55px;
}
.featured_author_image
{
	width: 37px;
	height: 37px;
	overflow: hidden;
	border-radius: 50%;
}
.featured_author_image img
{
	max-width: 100%;
}
.featured_author_name
{
	margin-left: 16px;
}
.featured_author_name,
.featured_author_name a
{
	font-size: 14px;
	color: #2c2b31;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.featured_author_name a:hover
{
	color: #ff6600;
}
.featured_background
{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/** courses custom styling */
.section_title h2 {
	font-weight: 700;
}

.section_subtitle {
	font-size: 14px;
	color: #6c6a74;
	text-align: center;
	margin-top: 66px;
	line-height: 2.14;
}

/*********************************
6. Courses
*********************************/

.courses {
	width: 100%;
	background: #FFFFFF;
	padding-top: 101px;
	padding-bottom: 100px;
}

.course_search {
	padding-left: 68px;
	padding-right: 68px;
	margin-top: 72px;
}

.course_search_form {
	width: 100%;
}

.course_button {
	position: relative;
	width: 224px;
	height: 50px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #ff8a00;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.course_button .button_arrow {
	width: 47px;
	background: #ff6600;
}

.course_button span:first-child {
	width: 100%;
	height: 100%;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: 600;
	padding-right: 44px;
	line-height: 50px;
	text-transform: uppercase;
}

.course_button:hover {
	background: #ffae00;
}

.course_button:hover .button_arrow {
	background: #ff8a00;
}

.course_search_form>div {
	width: calc((100% - 284px) / 2);
}

.course_input {
	position: relative;
	width: 100%;
	height: 50px;
	border: none;
	outline: none;
	background: #f2f1f8;
	padding-left: 22px;
}

.course_search_form>div::after {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: #ff6600;
	content: '';
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.course_search_form>div:hover::after {
	visibility: visible;
	opacity: 1;
}

.course_input::-webkit-input-placeholder {
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #6c6a74 !important;
}

.course_input:-moz-placeholder {
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #6c6a74 !important;
}

.course_input::-moz-placeholder {
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #6c6a74 !important;
}

.course_input:-ms-input-placeholder {
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #6c6a74 !important;
}

.course_input::input-placeholder {
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #6c6a74 !important;
}

.featured_row {
	margin-top: 100px;
}

.featured_col:first-child {
	padding-right: 0;
}

.featured_col:last-child {
	padding-left: 0;
}

.featured_content {
	padding-left: 50px;
	padding-top: 63px;
	padding-right: 50px;
	padding-bottom: 41px;
	background: #f2f1f8;
}

.featured_content::after {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: #ff6600;
	content: '';
}

.featured_tag {
	height: 31px;
	background: #ff6600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.featured_tag:hover {
	background: #2c2b31;
}

.featured_tag a {
	display: block;
	padding-left: 21px;
	padding-right: 21px;
	line-height: 31px;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 400;
}

.featured_price span {
	display: inline-block;
	position: relative;
	font-size: 18px;
	color: #ff6600;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}

.featured_title {
	margin-top: 29px;
}

.featured_title h3 a {
	color: #2c2b31;
	font-weight: 600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.featured_title h3 a:hover {
	color: #ff6600;
}

.featured_text {
	margin-top: 18px;
	line-height: 1.95;
}

.featured_footer {
	margin-top: 55px;
}

.featured_author_image {
	width: 37px;
	height: 37px;
	overflow: hidden;
	border-radius: 50%;
}

.featured_author_image img {
	max-width: 100%;
}

.featured_author_name {
	margin-left: 16px;
}

.featured_author_name,
.featured_author_name a {
	font-size: 14px;
	color: #2c2b31;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.featured_author_name a:hover {
	color: #ff6600;
}

.featured_background {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

 /**  ***/
.group-section {
	width: 100%;
	background: #FFFFFF;
	padding-top: 89px;
	padding-bottom: 100px;
}
.group-col {
	padding: auto;
}
.group-col .title {
	font-size: 1.8rem;
	font-weight: 600;
	color: #44425a;
}

 

/*******  7. Courses  *********/

.courses {
	width: 100%;
	background: #FFFFFF;
	padding-top: 88px;
	padding-bottom: 99px;
}

.courses .search {
	padding: 3rem; 
	margin-top: 3rem;
	background-color: #6c6a74;
}

.courses .search_form {
	width: 100%;
}

.courses button {
	position: relative;
	width: 224px;
	height: 50px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #ff8a00;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.courses button .button_arrow {
	width: 47px;
	background: #ff6600;
}

.course button span:first-child {
	width: 100%;
	height: 100%;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: 600;
	padding-right: 44px;
	line-height: 50px;
	text-transform: uppercase;
}

.course button:hover {
	background: #ffae00;
}

.course button:hover .button_arrow {
	background: #ff8a00;
}

.courses search_form > div {
	width: calc((100% - 284px) / 2);
}

.courses input {
	position: relative;
	width: 100%;
	height: 50px;
	border: none;
	outline: none;
	background: #f2f1f8;
	padding-left: 22px;
}

.course search_form>div::after {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: #ff6600;
	content: '';
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.course_search_form>div:hover::after {
	visibility: visible;
	opacity: 1;
}

.course_input::-webkit-input-placeholder {
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #6c6a74 !important;
}

.course_input:-moz-placeholder {
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #6c6a74 !important;
}

.course_input::-moz-placeholder {
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #6c6a74 !important;
}

.course_input:-ms-input-placeholder {
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #6c6a74 !important;
}

.course_input::input-placeholder {
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #6c6a74 !important;
}

.courses_slider_container {
	width: 100%;
	margin-top: 83px;
}

.course_body {
	width: 100%;
	padding-left: 34px;
	padding-right: 32px;
	padding-top: 56px;
	padding-bottom: 51px;
	background: #f2f1f8;
}

.course_tag {
	height: 31px;
	background: #ff6600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-left: 2px;
}

.course_tag:hover {
	background: #2c2b31;
}

.course_tag a {
	display: block;
	padding-left: 19px;
	padding-right: 19px;
	line-height: 31px;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 400;
}

.course_price span {
	display: inline-block;
	position: relative;
	font-size: 18px;
	color: #ff6600;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}

.courses .title {
	margin-top: 1.5rem; 
	text-transform: capitalize;
}

.courses .sub-title {
	font-style: italic;
	font-size: larger;
}
.course_title h3 a {
	font-size: 22px;
	color: #2c2b31;
	font-weight: 600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.course_title h3 a:hover {
	color: #ff6600;
}

.course_text {
	margin-top: 18px;
	line-height: 1.928;
}

.course_footer {
	margin-top: 33px;
}

.course_author_image {
	width: 37px;
	height: 37px;
	overflow: hidden;
	border-radius: 50%;
}

.course_author_image img {
	max-width: 100%;
}

.course_author_name {
	margin-left: 16px;
}

.course_author_name,
.course_author_name a {
	font-size: 14px;
	color: #2c2b31;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.course_author_name a:hover {
	color: #ff6600;
}

.courses_slider_nav {
	position: absolute;
	top: 50%;
	width: 51px;
	height: 51px;
	background: #ff8a00;
	text-align: center;
	cursor: pointer;
}

.courses_slider_nav:hover {
	background: #ff6600;
}

.courses_slider_nav i {
	font-size: 18px;
	line-height: 51px;
	color: #FFFFFF;
}

.courses_slider_prev {
	left: -161px;
}

.courses_slider_next {
	right: -161px;
}

/*****  8. Milestones **********/

.milestones {
	width: 100%;
	padding-top: 156px;
	padding-bottom: 161px;
}

.milestones_container {
	margin-top: 0px;
}

.milestone {
	width: 100%;
}

.milestone_icon {
	display: inline-block;
	height: 81px;
	width: 81px;
}

.milestone_icon img {
	max-width: 100%;
}

.milestone_counter {
	font-size: 48px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 0.75;
	margin-top: 37px;
}

.milestone_text {
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
	margin-top: 21px;
	line-height: 0.75;
}


/*********************************
10. Events
*********************************/

.events {
	width: 100%;
	margin-top: 58px;
}

.event {
	width: 100%;
}

.event:not(:last-child) {
	margin-bottom: 20px;
}

.event_date {
	width: 63px;
	height: 63px;
	background: #ff6600;
}

.event_day {
	font-size: 26px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 0.75;
}

.event_month {
	font-size: 10px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 0.75;
	margin-top: 10px;
}

.event_title a {
	font-size: 16px;
	font-weight: 600;
	color: #44425a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.event_body {
	padding-left: 34px;
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
}

.event_title a:hover {
	color: #ff6600;
}

.event_subtitle {
	font-size: 14px;
	font-weight: 500;
	color: #6c6a74;
	margin-top: 5px;
}

/*********************************
11. News
*********************************/

.news {
	width: 100%;
	margin-top: 58px;
}

.news_post {
	width: 100%;
}

.news_post:not(:last-child) {
	margin-bottom: 39px;
}

.news_post_image {
	width: 72px;
	height: 72px;
}

.news_post_image img {
	max-width: 100%;
}

.news_post_body {
	padding-left: 25px;
}

.news_post_date {
	font-size: 12px;
	font-weight: 600;
	color: #ff5c00;
	line-height: 0.75;
}

.news_post_title {
	margin-top: 10px;
}

.news_post_title a {
	font-size: 16px;
	font-weight: 600;
	color: #44425a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.news_post_title a:hover {
	color: #ff6600;
}

.news_post_author {
	margin-top: 5px;
}

.news_post_author,
.news_post_author a {
	font-size: 14px;
	font-weight: 500;
	color: #6c6a74;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.news_post_author a:hover {
	color: #ff6600;
}